# TeX/LaTeX intermediates # 
########################### 
*~
*.*~ 
*.4ct 
*.4tc 
*.auto 
*.aux 
*.bak
*.bbl 
*.bcf 
*.blg
*.dvi 
*.fmt
*.glo 
*.idv 
*.idx 
*.ilg 
*.ind 
*.lg 
*.log 
*.nav
*.out
*.pdx 
*.pnd 
*.run.xml
*.save
*.scmd
*.snm
*.sout
*.synctex.gz
*.tcp 
*.tdo
*.tmp 
*.toc 
*.tps
*.vrb 
*.xmpi 
*.xref 
*blx.bib 
*doctest.sage 
*sagetex.sage
_region_.*
.auto
